* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-style: normal;
}

body {
  background-color: #0f1624;
  color: hsl(204, 23.8%, 95.9%);
}

input,
fieldset,
button {
  border: unset;
  outline: unset;
}

button,
a {
  cursor: pointer;
}

p,
a,
button {
  font-weight: 400;
  color: #bebebe;
  font-size: 18px;
}

a {
  link-style: none;
  text-decoration: none;
}

.BgAnimation__svg {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  right: 100px;
  z-index: -2;
}
