* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-style: normal;
}

body {
  background-color: #0F1624;
}


input,
fieldset,
button {
    border: unset;
    outline: unset;
}


button {
    cursor: pointer;
}



.BgAnimation__svg {
  position: absolute;
  width: 600px;
  height: 600px;
  top: 0;
  right: 100px;
}